body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.backdrop {
    position: absolute;
    top: 10%;
    font-size: 5rem;
    color: rgb(233, 233, 233, 0.5);

}

.time {
    position: absolute;
    top: 4%;
    right: 4%;
}

.time span {
    font-size: 1rem;
    border: 1px solid white;
    font-weight: 600;
    background: var(--backgroundgrey);
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    margin-left: 5px;
}

:root {
    --backgroundgrey: rgb(226, 226, 226);
}

/* -------INSTRUCTIONS------------ */

.inst_box {
    width: fit-content;
    padding: 2rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--backgroundgrey);
    height: fit-content;
    text-align: center;
}

.inst_box h2 {
    border-bottom: 2px solid rgba(0,0 ,0,0.1);
    margin-bottom: 1.3rem;
    width: 100%;
    color: rgb(88, 88, 88);
}

.inst {
    text-align: left;
    list-style-type: square;
    width: 100%;
}

.inst li {
    margin-bottom: 7px;
}

.inst li:last-child {
    margin-bottom: 1rem;
}

.btn {
    padding: 0 0.7rem;
    height: 2.2rem;
    align-self: center;
    outline: none;
    border: none;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: grey;
    transition: all 200ms ease-out;
}

.btn:hover, .btn:focus {
    color: black;
    outline: none;
    border: none;
}

.start_btn:hover, .start_btn:focus {
    background-color: rgb(191, 191, 191);
    outline: none;
    border: none;
}



/* -------QUIZ------------ */

.quiz_box {
    width:45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--backgroundgrey);
    height: fit-content;
    padding: 1.2rem 2rem 2rem;
    border-radius: 2px;
    box-shadow: 0px 2px 3px 2px rgb(206, 206, 206);
    z-index: 1;
}

.quiz_box.quiz_end {
    left: -100%;
}

.quiz_box header {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.quiz_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.question {
    font-weight: 500;
}

.option_box {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
}

.options {
    width: 100%;
    list-style-type: none;
}    
    
.options li {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 1px dotted black;
    transition: all 200ms ease-out;
}

.options li:hover {
    color: black;
    background-color: rgb(218, 218, 218);
}

.options li input {
    margin-right: 10px;
    outline: none;
}

.options li label   {
    flex: 1;
    text-align: start;
    cursor: pointer;
    font-size: 1rem;

}

.next_btn span, .prev_btn span {
    height: max-content;
    align-self: center;
    display: flex;
    align-items: center;
}

.next_btn:focus {
    outline: none;
} 

.next_btn.last {
    opacity: 0;
    pointer-events: none;
} 

.next_btn.submit {
    opacity: 1;
    pointer-events: all;
}

.prev_btn:focus {
    outline: none;
} 

.next_signal {
    background: rgb(163, 163, 163);
    color: rgb(255, 255, 255);
}

.nav {
    width: 100%;
    display: flex;
}

.next_btn {
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
}

.choice {
    opacity: 1;
    visibility: visible;
}



/*-------------Submit_Caution------------------*/
.submit_box {
    width: fit-content;
    padding: 2rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    background: rgb(222, 222, 222);
    height: fit-content;
    text-align: center;
}

.submitnote {
    color: rgb(52, 52, 52);
}

.timeup {
    width: 100%;
    padding: 0.25rem 0;
    color: black;
    border-radius: 0.25rem;
    text-align: center;
    background-color: rgb(191, 191, 191);
}

.submitBtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitBtns button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: grey;
    border: none;
    outline: none;
}

.submitBtns button:hover, .submitBtns button:focus {
    color: black;
    background: rgb(191, 191, 191);
    border: none;
    outline: none;
}

.submit_btn {
    margin-left: auto;
}







/* 
.btn {
    background: none;
    border: none;
    outline: none;
    transition: all 300ms ease-in-out;
} */